@import "../../common";
@import "../../fonts/AmericanTypewriter.css";

.menu {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: $menu-bg;
    font-weight: 500;
    color: $menu-fg;
    @include transition('ease-in-out', 0.3s);
    border-right: 1px solid white;
    
    .menu-header {
        height: 100px;
        background: transparent url("../../images/baybayin-pilipinas.png") no-repeat center;
        background-size: cover;
    }
    
    .menu-item {
        font-size: 21px;
        padding: 21px 14px;
        text-align: center;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        color: white;
        @include transition('ease-in-out', 0.3s);
    }
    
    .menu-item:not(.selected) {
        text-shadow: 0 0 3px $babayi;
    }
    
    .menu-item.selected {
        background-color: $babayi;
        color: white;
        border-top: 1px solid #ffffff52;
        border-bottom: 1px solid #ffffff52;
    }
    
    .menu-item:hover:not(.selected) {
        opacity: 0.7;
    }
    
    .menu-item:hover:not(.selected):active {
        opacity: 0.3;
    }
    
    .handle {
        position: absolute;
        top: 0;
        right: -80px;
        width: 80px;
        height: 100px;
        background: transparent url("../../images/menu.png") no-repeat center;
        -webkit-background-size: contain;
        background-size: 70%;
        cursor: pointer;
        @include transition('ease-in-out', 0.3s);
        @include blink(7)
    }
    
    .handle:hover:active {
        opacity: 0.3;
    }
    
    .page-title {
        position: absolute;
        top: 0;
        left: 400px;
        line-height: 100px;
        font-size: 2vw;
        font-weight: bold;
        font-family: "American-Type-Writer", "Segoe UI", "Arial Narrow", sans-serif;
        text-transform: capitalize;
        //background: url('../../images/menu.png');
        //-webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        color: white;
        text-shadow: 0 0 3px $babayi;
        text-decoration: underline;
        @include ellipsis;
        @include transition('linear', 0.7s);
    
    }
}