@import "../../common";
@import "../../fonts/Baybayin.css";

.about.baybayin {
    font-family: "Baybayin-Modern-Club", serif;
}

.about {
    border: 1px solid $babayi;
    border-radius: $border-radius;
    padding: 28px;
    background-color: $content-bg;
    color: $content-fg;
    text-align: justify;
    
    .language-settings {
        font-size: 10px;
        float: right;
        
        > span:not(:last-child) {
            margin-right: 7px;
        }
        
        .btn {
            padding: 7px 14px;
            border-radius: $border-radius;
            cursor: pointer;
            background-color: gainsboro;
            border: 1px solid #777;
            color: #777;
        }
    
        .btn.selected {
            background-color: $babayi;
            border: 1px solid white;
            color: white;
            cursor: unset;
        }
    
        .btn.disabled {
            opacity: 0.1;
            cursor: unset;
        }
        
        .btn:not(.selected):not(.disabled):hover {
            border: 1px solid $babayi;
            color: $babayi;
        }
        
        .btn:not(.selected):not(.disabled):hover:active {
            opacity: 0.7;
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 3px;
    }
    
    .h1,
    .title {
        color: $babayi;
    }
    
    .p1 {
        margin-top: 14px;
    }
    
    .p1dot1 {
        font-style: italic;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
    
    .bc {
        height: 300px;
        background: transparent url("./baybayinCharacters.jpg") no-repeat center;
        background-size: contain;
    }
}

@media (max-width: 767px) {
    .about {
        padding: 14px;
        
        .language-settings {
            font-size: 7px;
            float: right;
            
            > span:not(:last-child) {
                margin-right: 1px;
            }
            
            .btn {
                padding: 3px;
            }
        }
        
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
        }
        
        .title {
            margin-top: 28px;
            font-size: 21px;
        }
        
        .p1 {
            margin-top: 14px;
        }
    }
}