@import "../../common";
@import "./Baybayin-Modern-Club";

.baybayin-translator {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50% auto;
    grid-template-areas:
        'text-area preview'
        'info info';
    grid-column-gap: $grid-gap;
    height: 100%;
    
    .info,
    textarea,
    .preview {
        border: 1px solid #777;
    }
    
    textarea,
    .preview {
        background-color: white;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;
        min-height: 200px;
    }
    
    textarea,
    .preview {
        padding: 14px;
    }
    
    textarea {
        grid-area: text-area;
        resize: none;
        font-size: 35px;
        font-family: Baybayin-Modern-Club;
    }
    
    .preview {
        grid-area: preview;
        color: #777;
        font-size: 21px;
        
        .dimmed {
            color: gainsboro;
        }
    }
    
    .info {
        margin-top: $grid-gap;
        overflow: auto;
    }

    .info {
        grid-area: info;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;
        overflow: hidden;
        position: relative;
        min-height: 300px;
    }
}

@media (max-width: 767px) {
    .baybayin-translator {
        grid-template-columns: auto;
        grid-template-areas:
            'info'
            'text-area'
            'preview';
        grid-column-gap: 14px;
        
        textarea,
        .preview {
            min-height: 150px;
        }
        
        textarea,
        .preview {
            padding: 7px;
        }
        
        textarea {
            grid-area: text-area;
            font-size: 28px;
        }
        
        .preview {
            margin-top: 14px;
            font-size: 14px;
        }
        
        .info {
            margin-top: 0;
            margin-bottom: 16px;
            min-height: 150px;
        }
    }
}