@import "../../common";

.content-container {
    padding: 30px 70px;
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    top: 100px;
    color: $page-fg;
    @include transition('ease-in-out', 0.3s);
    overflow: auto;
}

@media (max-width: 767px) {
    .content-container {
        padding: 14px;
        top: 70px;
    }
}