@import "../../common";
@import "../../fonts/Baybayin.css";

.lang-filipino { font-family: "Baybayin-Modern-Club", serif; }

.media-preview-overlay {
    z-index: $max-z-index !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    
    .preview,
    .article-preview {
        @include middle-transform;
        border-radius: $border-radius;
        box-shadow: 0 0 14px 1px #777;
    }
    
    .preview {
        width: 70%;
        height: 70%;
        background-size: contain !important;
    }
    
    .article-preview {
        width: 97%;
        height: 93%;
        display: block;
        overflow: hidden;
        border: 1px solid $babayi;
        
        .image {
            float: left;
            width: 70%;
            height: 100%;
            background-size: contain !important;
        }
        
        .info {
            float: right;
            width: 30%;
            height: 100%;
            background-color: white;
            color: #777;
            padding: 14px;
            overflow: hidden;
    
            .title {
                width: calc(100% - 50px);
                height: 70px;
                font-size: 28px;
                font-weight: bold;
                margin-bottom: 14px;
                color: $babayi;
                position: relative;
                
                > div {
                    @include vcenter-transform;
                }
            }
            
            .description {
                border-top: 1px solid gainsboro;
                border-bottom: 1px solid gainsboro;
                text-align: justify;
                line-height: 1.3;
                padding: 14px 0;
                margin-bottom: 14px;
                overflow: auto;
                max-height: calc(100% - 147px);
            }
            
            .read-more {
                float: left;
                padding: 14px;
                background-color: $babayi;
                color: white;
                cursor: pointer;
                border: 1px solid transparent;
            }
            
            .read-more:hover {
                opacity: 0.7;
            }
    
            .read-more:hover:active {
                opacity: 0.3;
            }
        }
        
        .close {
            opacity: 0.7;
            position: fixed;
            top: 14px;
            right: 14px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            background: gainsboro url("../../images/x.png") no-repeat center;
            background-size: 50%;
        }
        
        .close:hover {
            opacity: 1;
        }
        
        .close:hover:active {
            opacity: 0.7;
        }
    }
}

@media (max-width: 767px) {
    .media-preview-overlay {
        .preview {
            width: calc(100% - 28px);
            height: 70%;
        }
    
        .article-preview {
            .image {
                height: 40%;
                width: 100%;
                float: none;
            }
            
            .info {
                float: none;
                width: 100%;
                height: 60%;
    
                .title {
                    height: 35px;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 14px;
                    color: $babayi;
                }
            
                .description {
                    max-height: calc(100% - 110px);
                }
            }
            
            .close {
                top: calc(40% + 14px);
            }
            
        }
    }
}