@import "../../common";

.no-page {
    background: rgba(0, 0, 0, 0.97) url("./page404.png") no-repeat center;
}

.under-construction {
    background: rgba(0, 0, 0, 0.97) url("./underconstruction.png") no-repeat center;
}

.no-page,
.under-construction {
    width: 500px;
    height: 406px;
    background-size: cover;
    border-radius: $border-radius;
    border: 1px solid $babayi;
    @include middle-transform;
}

@media (max-width: 767px) {
    .no-page,
    .under-construction {
        width: 300px;
        height: 244px;
    }
}
