@import "./common";
@import "fonts/Baybayin.css";

.lang-filipino { font-family: "Baybayin-Modern-Club", serif; }

.app {
    @include transition('ease-in-out', 0.7s);;
    
    .header {
        width: 100%;
        height: 50px;
        background-color: #212121;
        padding: 7px;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1;
        
        .logo {
            float: left;
            width: 36px;
            height: 36px;
            background: transparent url("./images/icon.png") no-repeat center;
            background-size: 23px;
        }
        
        .app-name {
            float: left;
            color: white;
            line-height: 36px;
            cursor: pointer;
        }
        
        .social {
            float: right;
            height: 36px;
        }
    }
    
    .content {
        width: 100%;
        margin-top: 50px;
        position: relative;
        
        .media-carousel {
            position: relative;
            width: 100%;
            height: 500px;
            background-color: #777;
        }
        
        .page-content {
            width: 100%;
            display: inline-block;
            padding: 28px;
            @include transition(ease-in-out, 0.7s);
    
            .menu {
                padding-right: 28px;
                float: left;
                width: 21%;
    
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        @include transition(ease-in-out, 0.3s);
                        padding: 14px;
                        cursor: pointer;
                        border-radius: $border-radius;
                        color: $babayi;
                    }
                    
                    li.selected {
                        background-color: $babayi;
                        color: white;
                    }

                    li[name='translator'] {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    li[name='translator'] > span {
                        display: inline-flex;
                        align-items: center;
                    }
                }
                
                
            }
            
            .content-area {
                @include transition(ease-in-out, 0.3s);
                float: right;
                width: 79%;
            }
            
            .youtube-videos {
                border-top: 1px solid $babayi;
                margin-top: 7px;
                padding-top: 28px;
                
                iframe {
                    border: none;
                }
                
                iframe:not(:last-child) {
                    margin-bottom: 7px;
                }
            }
        }
    }
    
    .footer {
        text-align: center;
        padding: 14px;
        font-size: smaller;
        background-color: #212121;
        color: #777;
    }
}

@media (max-width: 767px) {
    .app {
        
        .header {
            
            .logo {
            }
            
            .app-name {
                font-size: smaller;
            }
            
            .social {
                margin-top: 3px;
            }
        }
        
        .content {
            
            .media-carousel {
                height: 200px;
            }
            
            .page-content {
                padding: 14px;
                min-height: unset !important;
                .menu {
                    float: unset;
                    padding: 0;
                    width: 100%;
                    margin-bottom: 14px;
                    
                    ul {
                        width: 100%;
                        
                        li {
                            display: inline-block;
                            padding: 7px;
                            width: 100%;
                            
                            input {
                                margin: 0 0 0 7px;
                            }
                        }
                    }
                }
                
                .content-area {
                    float: unset;
                    width: 100%;
                }
    
                .youtube-videos {
                    display: none;
                }
            }
        }
        
        .footer {
        }
    }
}