@import "./common";

.app {
    opacity: 0;
    @include transition('ease-in-out', 0.7s);;
    
    .wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("images/bg.jpg") no-repeat center;
        background-size: cover;
    
        .menu-area-strip {
            position: fixed;
            right: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            @include blurred;
            border-bottom: 1px solid gainsboro;
            background-color: rgba(0, 0, 0, 0.7);
        };
        
        .social {
            z-index: 1;
            position: fixed;
            right: 0;
            top: 0;
            height: 100px;
            float: right;
            margin-right: 7px;
            @include middle-flex;
        };
        
        .slogan {
            @include middle-transform;
            text-align: center;
            color: #fff;
            font-weight: 500;
            text-shadow: 3px 3px 7px $babayi;
        
            .s1 {
                font-size: 4vw;
            }
        
            .s2 {
                padding: 7px;
                font-size: 21px;
            }
        }
    
        .content {
            position: fixed;
            overflow: hidden;
            top: 100%;
            @include transition('ease-in-out', 0.73s);;
        }
    }
}

@media (max-width: 767px) {
    .app {
        .wrapper {
            .menu-area-strip {
                height: 70px;
            };
            
            .social {
                height: 70px;
                float: right;
                margin-right: 0;
            };
        }
    }
}